/* reglas
selectores
declaraciones
propiedades
valores */

/* header {
  background: pink;
  color: red // no dejamos , ; , porque es el último
} */

/* selector de eqtiqueta header - section - article - nav */
/* selector descendente */

/* body header div nav ol li a , hemos llegado a la a desde su descendencia*/

/* selector de clase  . */

/* .link */

/* Los class los puedes multiplicar mientras
que los id sólo pueden ir una vez porque a partir
de la primera ignora los siguientes. */

/* un selector de id es con el símbolo # */

body {
  font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal; /* de 100 a 900 de la más fina a la más gruesa. , bold , es 600 */
  /* font-style: italic; Si la ponemos el navegador la simula aunque no la tenga */
}

h1 {
  font-size: 40px;
  line-height: 1.5; /* El 1em(ó 1) es el alto(100%) de la fuente. */
  letter-spacing: -.2px; /* espaciado entre letras */
  text-transform: uppercase;
  /* text-decoration: underline; Esto pondría una línea subrayada */
}
